*{
  box-sizing: border-box;
}

.haml{
  height: 100vh;
  @include clearfix();
}

// 左の部分(ユーザーネーム、グループ一覧)
.left__contents {
  float: left;
  color: #ffffff;
  width: 300px;
  height: 100vh;
  @include clearfix();
  &__header{
    background-color: $mainAmber;
    height: 100px;
    width: 300px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: relative;
    &__user-name{
      font-size: 16px;
    }
    &__icon{
      display: flex;
      position: absolute;
      right: 20px;
      &__create-group{
        color: #ffffff;
      }
      &__user-edit{

      }
    }
  }
  &__group{
    height: calc(100vh - 100px);
    background-color: $subAmber;
    padding: 20px;
    &__name{
      font-size: 15px;
    }
    &__new-chat{
      font-size: 11px;
      padding-top: 5px;
      padding-bottom: 40px;
    }
  }
}


// 右の部分(表示されているグループ、チャット部分、メッセージ入力)
.right__contents{
  float: left;
  width: calc(100vw - 300px);
  @include clearfix();
  &__header{
    position: relative;
    width: calc(100vw - 300px);
    height: 100px;
    padding: 0 40px;
    display: flex;
    border-bottom: solid 1px #eeeeee;
    &__group-name{
      padding-top: 35px;
      font-size: 20px;
      &__members{
        font-size: 12px;
      }
    }
    &__group-edit{
      position: absolute;
      right: 40px;
      top: 28px;
      border: thin solid #38AEF0;
      padding: 5px 20px;
      color: #38AEF0;
    }
  }
  &__chat{
    background-color: $BackCollor;
    width: calc(100vw - 300px);
    height: calc(100vh - 190px);
    display: block;
    overflow: scroll;
    padding: 46px 40px 0 40px;
  }
  &__form{
    background-color: gainsboro;
    width: calc(100vw - 300px);
    height: 90px;
    padding: 0 40px;
    position: relative;
    &__image{
      display: inline-block;
      position: relative;
      right: 35px;
      line-height: 90px;
    }
    &__send{
      display: inline-block;
      position: absolute;
      top: 20px;
      width: 100px;
      height: 50px;
      background-color: #38AEF0;
      color: #ffffff;
      text-align: center;
    }
  }
}

// ファイル投稿フォームを消す
.hidden{
  display: none;
}

.upper-message{
  display: flex;
  &__date{
    font-size: 12px;
    padding-top: 5px;
    padding-left: 10px;
  }
}
.lower-message{
  padding-top: 10px;
  padding-bottom: 40px;
}
// .name{
//   float: left;
//   font-size: 16px;
//   padding: 46px 0 40px 0;
//   &__day{
//     float: right;
//     font-size: 12px;
//     padding-left: 10px;
//   }
//   &__text{
//     font-size: 14px;
//   }
// }

// グループのエディットボタン
.edit{
  text-decoration: none;
  color: #38AEF0;
}

// メッセージの入力フォーム関連
.form__submit{
  display: inline-block;
      width: 100px;
      height: 50px;
      background-color: #38AEF0;
      color: #ffffff;
      text-align: center;
}
.form__message{
  width: 85%;
  line-height: 50px;
  font-size: 16px;
  position: relative;
}